[submodule "contracts/safe-contracts"]
	path = contracts/safe-contracts
	url = https://github.com/safe-global/safe-contracts.git
[submodule "contracts/safe-module"]
	path = contracts/safe-module
	url = https://github.com/safe-global/safe-contracts.git
